<ion-header>
  <ion-toolbar>
    <ion-title>
      <img class="logo" src="../../assets/imgs/logo.png">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-item>
    <ion-label>Coin ID:</ion-label>
    <ion-input [(ngModel)]="ID"></ion-input>
    <ion-button color="medium" expand="block" size="default" (click)="newCoin()">Get Coin</ion-button>
  </ion-item>

  <div class="list">
    <ion-item lines="full">
      <ion-avatar item-start>
        <img src="../../assets/imgs/protection.png">
      </ion-avatar>
      <ion-label class="item-list">Name: {{ coinName }}</ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-avatar item-start>
        <img src="../../assets/imgs/gold-bars.png">
      </ion-avatar>
      <ion-label class="item-list">Price: {{ price }}</ion-label>
    </ion-item>
  </div>
  <div class="bottom-img">
      <img src="../../assets/imgs/bottomimg.jpg">
  </div>
    





</ion-content>